[2015-11-26 00:22] montes2012 opened #1 "Error"
@Amrani Interesting,

testing, http://crud/scaffold/guipost

I get MethodNotAllowedHttpException in RouteCollection.php line 219:

[2015-11-26 10:55] lstables opened #2 "New table button not working"
Seems like the new table button doesnt work

[2015-11-26 11:02] #2 closed

[2015-11-26 14:21] amranidev commented on #1
thank you for your testing.

usually you're using a virtual hosting such like MAMP or LARAGON,

please check your vortualhost configuration.

[2015-11-26 15:13] MikeCase commented on #1
I got the same thing, I'm not using virtual hosting... I don't believe it's pulling the resources, views, routes, controllers etc.. Maybe I'm just doing something wrong the last time I used laravel it was version 4.2 :P

[2015-11-26 16:45] #1 closed

[2016-02-24 21:36] kirchaj opened #5 "form action uses hardcoded url"
Love what you done so far.

I am testing your package and noticed when you generate the form method in the view you use a hardcoded url.  This will be a problem as the development is on a local machine and then will be used on a server that is not running on part 8000

<form class = 'col s3' method = 'get' action = 'http://localhost:8000/customer/create'>

[2016-02-24 21:47] amranidev commented on #5
Whoops!
you was right. but first let me ask you a question.
do you want that url change dynamically such like {{URL::to('/')}} , instead that you could update to whatever you want ?

[2016-02-24 22:04] kirchaj commented on #5
without a lot of thought, that would make sense.  You could always update it if it were relocated or put in a subfolder.

[2016-03-12 19:39] ngutip opened #6 "relationship model select filed doesn't display table field"
i 've test your apps, great

but the relationship model filed  doesn't doesn't display table field, i've see your youtube, better use input for field

[2016-03-12 20:32] amranidev commented on #6
Whoops !!
make sure that your chosen table was migrated first.
if it doesn't work for you,pleas contact me soon as you can.

[2016-03-14 16:57] challapradyumna commented on #1
![capture](https://cloud.githubusercontent.com/assets/838556/13752227/c8e98964-ea33-11e5-9ea2-8f4c12597fb9.PNG)

I am getting a 301 redirect to a link without the public folder

[2016-03-14 17:06] challapradyumna commented on #1
I have changed the hardocded url in the custom.js to fit my url structure  but somehow a trailing slash is being added to the url which is not there in custom.js .
That trailing slash is causing the 301 redirect . If i remove that i am able to post .

[2016-03-14 17:37] amranidev commented on #1
the slash was removed from custom.js in the newest version v1.2.x
which version of scaffold interface that have you are running ?

[2016-03-14 17:43] amranidev commented on #1
Thank You @challapradyumna !! :+1:
I got it.
I thought that I was remove it !!

[2016-03-14 18:24] challapradyumna opened #7 "Scaffold already existing table"
If there is a way to read the table columns and automatically scaffold that would be awesome. [Feature Request]

[2016-03-14 18:42] amranidev commented on #7
Yes of course!!
may be the next version v2.0.

Now I'm focusing in front-end stuffs to make scaffold interface support bootstrap ,VueJs.

[2016-03-14 20:28] challapradyumna opened #8 "Javascript links are static"
In index.blade.php the url for javascript links should be

    <script type="text/javascript" src = "{{ URL::asset('js/AjaxisMaterialize.js')}}"></script>
    <script type="text/javascript" src = "{{ URL::asset('js/scaffold-interface-js/customA.js')}}"></script>

[2016-03-21 13:27] amranidev commented on #8
@challapradyumna  it's fixed check v1.3.2

[2016-03-21 13:27] #8 closed

[2016-03-21 13:28] amranidev commented on #6
check v1.3.2

[2016-03-21 13:28] #6 closed

[2016-03-21 13:28] #5 closed

[2016-03-26 14:41] challapradyumna opened #9 "Capital Letters"
I have already existing tables that i am trying to scaffold . Some column names have camel casing. When generating the views the capitals are converted into small letters .

[2016-03-26 17:19] amranidev commented on #9
it fixed . . check v1.3.4

[2016-03-27 12:22] ngutip opened #10 "sqlite problem in creating relationship fields"
sorry for the earlier post about this topic, i ididn't check the ajax request, it get  http status 500, it 's turn out that sqlite doesn't recognize "show columns from `tbl_name`;" command, the getResult() method in autoarray class, cannot use getAttributes().
so i use Schema::getColumnListing($table) instead to get list of column

[2016-03-28 13:58] amranidev commented on #10
@ngutip Greate!!

did you try the latest version v1.3.4 ??

[2016-03-28 16:34] Jeroen-G opened #12 "Lists method does not exist"
In GuiController at line 33:
[code]
The lists method does not exist.

[2016-03-28 18:35] #9 closed

[2016-03-28 18:56] amranidev commented on #12
Weird !!

I think it's an Illuminate\Database\Eloquent\Model laravel bug.

please check your laravel version.

[2016-03-28 19:00] Jeroen-G commented on #12
From Illuminate\Support\Collection:
`@deprecated since version 5.2. Use the "pluck" method directly.`
It originally was an alias for the pluck() function.

[2016-04-07 12:27] ManuSbd opened #13 "Error with Views"
Hi,

I install your package and I got some problems with views.

I see vars like : {{errorMsg}} , {{final.table}}, {{final.onData}}, {{element}} ...

And actions buttons (new, remove, more, back...) are not working

Maybe I need to install some pacakges to make it work?

Thanks.

[2016-04-07 12:52] amranidev commented on #13
Make sure that you're connecting to the internet because the package get VueJs cdn.

[2016-04-07 13:27] ManuSbd commented on #13
Hey!,

thanks for your reply.

The error was in the file scaffoldApp.blade.php
    <link rel="stylesheet" type="text/css" href="css/scaffold-interface-css/main.css">
    <script src = "js/AjaxisMaterialize.js"></script>
    <script src = "js/scaffold-interface-js/main.js"></script>

I remove the slash ("/") before each of local included files dir

I don't know if it's caused by my server configura

[2016-04-07 14:46] amranidev commented on #13
@ManuSbd
it's fixed : check v1.3.13
Cheers

[2016-04-08 07:43] ManuSbd commented on #13
Hi again,

You're right with version 1.3.13 it works fine but this command:

Installs versión 1.3.12

Another trouble I found when u try to install the package in an existing laravel project
before execute this command:

I have to clear the cache with this command because I was getting an error publishing

Thanks

[2016-04-08 09:21] ManuSbd commented on #13
Hi,

I don't know if i should open a new issue.

I have problems with modal links.

1.- Modal opened when rollback (scaffoldApp.blade.php line 129)

2.- Modal opened when delete row (controller.blade.php line 175)

The data-link parameter is not getting {{URL::to('/')}}, but if I put it on the link the url is not correct the only way I can solve this 2 problems is including
/projectname/public/ be

[2016-04-08 15:05] amranidev commented on #13
Whoops !

@ManuSbd Gracias man :smile:

### About Modals

You're certainly install that package to a deployed app on a web server right ??
so `{{URL::to('/')}}` returns to the main root : `example.com/`  instead `example.com/projectname/public/`
well you got a problems with links.
I think you should change `{{URL::to('/')}}` to `{{URL::to(/projectname/public/)}}`

Anyway I think it's need some enh

[2016-04-08 16:03] ManuSbd commented on #13
Hi,

### About Modals:

The modals doesn't have {{URL::to('/')}} directly link the views. For example:

### About ManyToOne:

I was wrong writing.

I refer to ManyToOne option.

The error is that i'm using PostgreSql. In Attributes.php there are a function that retrieve table columns:

In PostgreSql this doesn't work, it needs something like this

In AutoArray.php

With this changes i can get corr

[2016-04-08 23:02] amranidev commented on #13
@ManuSbd

The modals has generated by [Ajaxis](https://github.com/amranidev/ajaxis) Package.
That certainly must have a baseURL to complete an ajax request.

Check scaffoldApp.blade.php [Line : 176](https://github.com/amranidev/scaffold-interface/blob/master/resources/views/scaffoldApp.blade.php#L176)

So you can change your baseURL easily.

About Removing (id column) :
The Attribute class just re

[2016-04-11 12:52] #12 closed

[2016-04-16 13:16] amranidev commented on #13
@ManuSbd  Hi !!

about Attributes.php

Can you test it with "dev-master" by postgreSql

Any suggestions are welcome !

cheers !

[2016-04-18 08:12] ManuSbd commented on #13
Hi,

I'm not an expert in PostgreSql database but I think you have an error here.

table_schema is not the database you are connecting.

For example table_schema contains "public" on tables that you create.

With this should be enough cause when you connect to database you can't have more than one table with same name (you don't see other databases in PostgreSql)

All of this is for PostgreSQl I d

[2016-04-18 17:10] amranidev commented on #13
Gotcha!!

@ManuSbd

I fixed it.
it works fine right now.

check dev-master

Cheers !!

[2016-04-18 22:56] #7 closed

[2016-04-19 22:23] amranidev commented on #13
@ManuSbd

check the v1.3.20
It fixed, I have test it with Postgre and it works fine.

Cheers !!

[2016-04-20 09:10] ManuSbd commented on #13
![image](https://cloud.githubusercontent.com/assets/18328695/14669209/24c82148-06e8-11e6-83f4-a41970b77c7c.png)

Hi, Now i'm not getting error with parameters but they don't appear in combobox.

[2016-04-20 14:19] amranidev commented on #13
Whoops !!

it's weird !!!

make sure that posts2s already has attributes :laughing:

I've been  test it  with postGres and it works fine.

Any suggestion ?

[2016-04-20 16:51] amranidev commented on #13
Gotcha !!

I just replace all DB query with `Schema::getColumnListing` to make it global with other databases

check v1.3.25

big thanks for you @ManuSbd

Cheers !!

[2016-04-20 16:52] #13 closed

[2016-04-20 16:52] amranidev commented on #10
check v1.3.25

big thanks for you @ngutip

Cheers !!

[2016-04-20 16:52] #10 closed

[2016-05-28 16:34] amranidev opened #16 "[Question] What do you think about this feature (user-role-middleware)??"
Hi everyone and thank you for using scaffold-interface.

I would like to open this discussion to add new features you may be friendly with.

This feature reach to  **create entity includes user-role permission**, and generate routes handle Role-middleware.

Also this feature could scaffold user-role system automatically, user-role (MayToMany).

Ideas are warmly welcomed!

[2016-06-17 18:23] riokurnia opened #30 "primary key"
cant u make it without increments ? so we can make our primary key

[2016-06-18 01:50] amranidev commented on #30
@riokurnia

For sure you can change what ever you want manually, just before migrations, go to entity migration file and change primary key. then press the  migration button.

[2016-06-18 21:55] riokurnia commented on #30
already change it but foreign key not working , "foreign key constraint is incorrectly formed" , sorry im new with laravel

[2016-06-19 03:13] amranidev commented on #30
@riokurnia

Check [CHANGELOG](https://github.com/amranidev/scaffold-interface/blob/master/CHANGELOG.md) release notes for v1.4.25.

You can change foreignKeys manually in migration file, then go to entity model file and override foreignKey convention.

Example:

[code]

Cheers!!

[2016-08-02 00:27] #16 closed

[2016-08-06 19:43] frndchagas opened #43 "Class web does not exist"
Hello,

I am trying to install v1.4.11 for laravel 5.1.x in the [sximo5 framework.](http://sximobuilder.com/)

The error is:

`ReflectionException in Container.php line 741: Class web does not exist`

Could anyone help me?

[2016-08-06 22:39] amranidev commented on #43
Whoops!!

@frndchagas

go to `vendor/amranidev/scaffold-interface/src/http/routes.php` and override **web** middleware

 `Route::group(['middleware' => null])`

cheers!!

[2016-08-07 21:48] frndchagas commented on #43
Perfect! You're the best!

Thanks

[2016-08-07 21:48] #43 closed

[2016-08-15 09:59] UnrulyNatives opened #47 "Feature request: timestamps + softdeletes + some other columns"
Hi,
your package is great! I just started using it

I suggest this:
in each table I add these columns:

        $table->integer('creator_id')->unsigned()->nullable();
        $table->integer('updater_id')->unsigned()->nullable();
        $table->timestamps();
        $table->softDeletes();

Can you add an option to add them when treating migration?

Thx!

[2016-08-15 10:03] UnrulyNatives opened #48 "Laravel 5.3 compliance - route files"
As of now your package puts the generated routes into the /App/Http/routes.php (creates a new file if there is none)

In Laravel 5.3 routes are placed in `/routes` folder.
There are two files out of the box there: `web` and `api`. I myself have another one defined.

The optimal way would be any of the pre-defined files or custom file to be named by user

[2016-08-15 12:50] amranidev commented on #48
Whoops!!

You can specify routes.php location, check [config](https://github.com/amranidev/scaffold-interface/blob/master/config/config.php#L69) file.

cheers!!

[2016-08-15 12:55] amranidev commented on #47
Yeah sure, Thanks for submitting your request.
cheers!!

[2016-08-16 14:05] amranidev commented on #47
@UnrulyNatives
Check [v1.5.15](https://github.com/amranidev/scaffold-interface/releases/tag/v1.5.15)
Thank you again
cheers !!

[2016-08-16 14:06] #30 closed

[2016-08-16 14:06] #48 closed

[2016-08-24 17:48] #47 closed

[2016-08-25 03:25] 9xcoder opened #54 "Can't composer update when add scaffold package"
When i add scaffold to composer.json and run
composer update
i got this error

[code]

Please help me fix

[2016-08-25 14:01] amranidev commented on #54
@9xcoder
check your php version
required php >=5.6.0

[2016-08-27 21:17] #54 closed

[2016-09-04 15:40] muuucho opened #59 "one to many"
Hi!
Thanks for the CRUD generator. I can't get one2many to work
I create table citys and have a column nammed cityName.

Then when I create table members I click "One to many" I chose table citys and column cityName.
Then I generate table members and its scripts.
I expect a dropdown to show up when I want to add a member, but it doesnt.

[2016-09-04 17:59] amranidev commented on #59
Hi! @muuucho
Well, make sure that when you create **members** table and chose table citys and column cityName., re-click on **OneToMany** button to be confirmed.

cheers!!

[2016-09-05 06:46] muuucho commented on #59
Thanks!

[2016-09-07 13:33] #59 closed

[2016-09-23 17:07] amranidev opened #61 "Full Documentation Page"
A full documentation page coming soon!! :smile:

[2016-10-08 19:14] davejal opened #62 "Master-Detail pages"
When creating onetomany it would be great if the pages for master-detail (parent-child) would also be created.

[2016-10-08 19:18] davejal commented on #62
this should have been a pull request.

[2016-10-08 19:18] #62 closed

[2016-10-08 20:27] davejal opened #64 "delete button doesn't work"
After migrate rollback the delete button doesn't display everything, only a white bar.
![deletebutton](https://cloud.githubusercontent.com/assets/10372845/19215730/87b6d55e-8d7c-11e6-9bb2-6a9b145aed59.png)

[2016-10-08 22:40] amranidev commented on #64
Whoops!!!
let me check :smile:

[2016-10-08 22:43] amranidev commented on #64
Probably that you've changed something in GuiController.php,
cheers!!

[2016-10-08 22:53] davejal commented on #64
Thanks for the response. But I started a new project with new database and still the same problem. No changes.

[2016-10-08 22:59] davejal commented on #64
Running xampp on windows 7

Here are my versions:

Laravel installer version 1.3.1
Laravel version 5.3.18
PHP version 5.6.24
mysql  Ver 15.1 Distrib 10.1.16-MariaDB, for Win32 (AMD64)
Composer version 1.2.1

[2016-10-08 23:29] amranidev commented on #64
Your installation is definitely correct.
Fixed!! Thanks a lot for your feedback.(v1.6.2)
Cheers!!

[2016-10-08 23:47] davejal commented on #64
So I changed line 150 (removing the /) and tried again. Now I see the delete page confirmation, but when clicking, nothing happens.

![deletebutton](https://cloud.githubusercontent.com/assets/10372845/19216577/61c78822-8d98-11e6-92ec-a12235b0f5e7.png)

[2016-10-09 22:31] amranidev commented on #64
@davejal

Fixed (v1.6.3) [a6c4b1b](https://github.com/amranidev/scaffold-interface/commit/e1611db39de6f17f28c5a50a7d13e65baae2227b)

Cheers!!

[2016-10-10 00:28] davejal commented on #64
Yes. All normal now.

[2016-10-10 16:44] #61 closed

[2016-10-13 15:19] saviofreitas opened #65 "Logout button doesn't work"
MethodNotAllowedHttpException in RouteCollection.php line 218.

Needs a form.

[2016-10-13 22:07] amranidev commented on #65
Thanks!!
btw, this not supported in laravel 5.2

[2016-10-14 00:27] fjmpchato opened #68 "How Edit Table"
Helllo

@amranidev

How can Edit Table after created
i need add new rows or one to many after miss feature

Thanks

Best Regard

FJMPCHATO

[2016-10-14 12:48] saviofreitas commented on #65
Indeed, I had not observed this point. It would be better to keep as it was and update the documentation with this solution only to version 5.3?

Can I remove the added stretch and update the documentation.

[2016-10-14 13:58] amranidev commented on #65
@saviofreitas

I think it would be better to upgrade it to 5.3 so we can add compatibility to docs, because laravel v5.3 is better than others.

[2016-10-14 14:00] amranidev commented on #68
@fjmpchato

rollback it and the re-create it again.

[2016-10-15 13:55] #68 closed

[2016-10-15 13:55] #65 closed

[2016-10-18 20:57] BinSilva opened #70 "Specify Table possible?"
How could I specify the table?

Example:
php artisan migrate table=schema.myTable

[2016-10-18 21:51] amranidev commented on #70
@BinSilva

You can specify migration path in [config/amranidev/config.php](https://github.com/amranidev/scaffold-interface/blob/master/config/config.php#L58)

If you want to specify which table check the following [link](https://laracasts.com/discuss/channels/laravel/ho-to-execute-a-specific-migration)

[2016-10-20 18:15] #70 closed

[2016-10-21 10:07] Modelizer opened #73 "[Proposal] Exposing API"
Hey,
   I was thinking if API of this package is exposed, so then we can hook into custom created tables. This will help more in customization and lot of things can be achieved.

[2016-10-22 14:46] 7miguelsilva7 opened #74 "[Proposal] Pagination system"
First, congratulates for your project
Like suggestion, you can do a search and pagination system. they're welcome.

[2016-10-22 18:09] 7miguelsilva7 opened #75 "Problem to edit records with relationship"
Hello! First, it's a good job!
I have a problem when I am editing records with fields have relationship , the Views edit don't show me  actual records fields, it shows the first option on a select field and not a actual records in the fields recorded in database.

Could you help me to fix it?
Thanks!

[2016-10-22 22:21] amranidev commented on #75
Hi @7miguelsilva7

Let's say we have tow entities **Product** and **Command**, command contains a product foreign key **product_id** (OneToMany).

Go to `resources/views/command/edit.blade.php` and change product select section to.

[code]

[2016-10-22 22:22] amranidev commented on #74
Yes for sure!!

[2016-10-22 23:09] 7miguelsilva7 commented on #75
Hi **Amranidev**

Man, it worked.

thanks!

Sorry to ask so much. I'm a noob developer.

[2016-10-22 23:50] #75 closed

[2016-10-24 19:28] spitfire64 opened #76 "Getting error in Dashboard on a fresh installation"
After having add 2 roles to roles I switch to user in order to add roles to a user I get this error:

ErrorException in 70a34edc433640635e97bdad90b795b7c04bb18a.php line 56:
Invalid argument supplied for foreach() (View: C:\laravel\z\resources\views\scaffold-interface\users\edit.blade.php)

[2016-10-24 22:20] amranidev commented on #76
@spitfire64

Make sure that you add `HasRole` dependency to **User.php**

Check the following [link](http://amranidev.github.io/blog/site/scaffold-interface/#iii-control-panel-adminlte).

[2016-10-25 18:14] spitfire64 commented on #76
terrible sorry! 😌😌😌😌

MVH/Mårten Hansson 0703 - 06 71 81

2016-10-25 0:20 GMT+02:00 Amrani Houssain <notifications@github.com>:

[2016-10-26 00:03] #76 closed

[2016-10-26 14:58] amranidev commented on #74
Pagination is available now in  latest version [v1.6.12](https://github.com/amranidev/scaffold-interface/releases/tag/v1.6.12)

[2016-10-26 14:58] #74 closed

[2016-10-26 21:15] 7miguelsilva7 commented on #74
Great!
Thanks very much!
updating to version v1.6.12...

[2016-10-30 21:08] davejal commented on #64
Hi, having problems with this again. Not sure what's wrong. The confirmation page shows and the cancel button works, but the delete button does nothing.

[2016-10-31 11:52] 7miguelsilva7 opened #78 "[Proposal: Search Engine]"
Hi! me again.
Like suggestion you can implement a search engine.

Thanks!

[2016-10-31 17:19] amranidev commented on #78
What do you mean by search engine, could you please be more specific!!
Thanks!!

[2016-10-31 19:06] 7miguelsilva7 commented on #78
Hi man! Sorry if I did not be clear.
I want to say something like this:

![the-search-box4](https://cloud.githubusercontent.com/assets/16270181/19867436/91fed0c6-9f82-11e6-88d1-66e7f68e14d0.jpg)

That work to search in table with relationships:
Here I see how can implement it, but I think don't work in table with relationship, I'm not sure
http://anytch.com/laravel-5-simple-get-search/
Thanks!

[2016-10-31 23:12] 7miguelsilva7 commented on #78
Hey man!  thank you!
I'll see the link.
Thanks again.

[2016-10-31 23:12] #78 closed

[2016-11-02 06:00] 7miguelsilva7 opened #82 "a little help with search!"
Hi Guy!
I've implemented a  Scout search engine in my app, using your tips, It's working partially.
I have problem with tables relationship , the search don't find records for text. In other word in table without relationships the search works well.
Could you help me, can you see what's wrong?

**This is my Model funcionarios.php:**

`<?php

namespace App;
use Illuminate\Database\Eloquent\Model;
u

[2016-11-02 16:56] 7miguelsilva7 commented on #82
I saw in the site Algolia, my search has no relationship, the index there show id and not text

**This is my local view :**
![sglab](https://cloud.githubusercontent.com/assets/16270181/19938465/c70f560a-a103-11e6-9721-122ab04804db.png)

**This is my Algolia site view, where relationship doesn't work**
![algolia](https://cloud.githubusercontent.com/assets/16270181/19938532/05618932-a104-11e6-83d5-7

[2016-11-03 21:30] amranidev commented on #82
I don't know what's wrong with this, you can submit an issue in Algolia repo :)

[2016-11-03 21:56] 7miguelsilva7 commented on #82
Hello! You're right!
I have solve problem, giving up use a search engine,  on this app, this my third app I tried and search box with relationships don't work, I tried  Phreeze by Jason, CRUD Genarator, and now Scaffold-interface and dont work too. But your developments help us so much. Thanks a lot.
Your app is enought I need. Thanks again.

[2016-11-03 22:15] #82 closed

[2016-11-05 14:26] fndchagas opened #85 "Error inserting into database"
Hi,

I've installed [Josh Admin Template ](https://codecanyon.net/item/josh-laravel-admin-template-front-end-crud/8754542) in a fresh version of Laravel 5.3, after this, I've installed scaffold-interface.

Almost all pages works fine: index, edit, delete, show and create.

But when I try to insert a register, i receive this message:

I've tried to change this line:

`<form method = 'POST' action =

[2016-11-05 14:54] amranidev commented on #85
@fndchagas
What does that error shows you??

[2016-11-06 23:12] #64 closed

[2016-11-06 23:12] #85 closed

[2016-11-06 23:16] aboidriss commented on #64
i think  in scaffold-interface/resources/views/template/controller/controller.blade.php , function "DeleteMsg"
you should remove the last slash in  '/delete/'

[2016-11-06 23:18] amranidev commented on #64
i'ts already removed, check the latest version :)

[2016-11-06 23:30] aboidriss commented on #64
i don't see the modification, in which commit ?

[2016-11-06 23:41] amranidev commented on #64
@aboidriss

Whoops!!

You was right!!!

I Really appreciate your request/comment,

I did not see that bug at all.

You deserve :+1:

[2016-11-06 23:51] amranidev commented on #64
@aboidriss , @davejal

Check the following [link](https://github.com/amranidev/scaffold-interface/commit/515318c751f7b86a24ad9f73438498f41443e676)

Cheers!!

[2016-11-07 00:38] amranidev opened #86 "New Release coming soon"
A bunch of repairs coming soon with new release v1.6.*

- Views layouts will be exported to your app under(resources/views/scaffold-interface/layouts/), so you could edit your layouts before making CRUD.

- Delete message error will be definitely fixed.

All these things are available in **dev-master**, fell free to use **dev-maser** as well until the new version is released.

[2016-11-07 17:17] fndchagas commented on #85
The error just shows a page with the message that I mentioned:

[2016-11-07 18:35] amranidev commented on #85
@fndchagas

- Form

[code]

- Route

[code]

Cheers!!

[2016-11-08 05:05] claAshish opened #87 "cannot creat one to many relationship with custom tables created"
![laravelcrudissue](https://cloud.githubusercontent.com/assets/23328777/20087473/bd37d7ac-a59e-11e6-96a0-a6176aa29fa9.JPG)

Have adde scaffold library to my project.
Creating simple table dont have any issue, but when i tried to map one to many relationshiop its giving me error.

I can select table and column except the id but when i click ready button its removing the added column from form.

[2016-11-08 07:40] #87 closed

[2016-11-08 07:41] claAshish commented on #87
Found the solution "re-click on OneToMany button to be confirm".

Please update this point in you document.

[2016-11-08 10:47] claAshish opened #88 "No datatype enum while adding column"
enum datatype not given

[2016-11-08 13:42] amranidev commented on #87
@claAshish

It's already mentioned in documentation (**Relationships - OneToMany**)

check the following [link](http://amranidev.github.io/blog/site/scaffold-interface/#iii-relationships)

(**Before ending creation, click on OneToMany button, choose product table, choose associated field and re-click on OneToMany Button again to be confirmed.**)

[2016-11-08 21:31] davejal commented on #64
Thanks now it works (after refreshing the page).

[2016-11-09 08:21] claAshish commented on #88
when shouild i expect this update ?

[2016-11-09 17:32] amranidev commented on #88
@claAshish

Do you have any suggestion about it ??

[2016-11-10 04:14] claAshish commented on #88
i am not the expert in this but, i guess you have to modify

- Generators you have used to generate MVC files
- add blade file to accept enum (default) values in db
- jquery modification when user selects enum as datatype, you have to populate text boxes to enter default database values

[2016-11-10 15:14] #86 closed

[2016-11-10 15:19] amranidev opened #89 "New release"
scaffold-interface v1.6.21 is now released.

[2016-11-11 21:32] amranidev opened #90 "[Project] scaffold landing page"
We are going to add a default landing page to be published under "resources/views/scaffold-interface"

#### Using

- Bootstrap.

#### Contains

- Navigation bar.
- login/register section.
- Responsive UX layouts.
- Footer.
- Additional information (About - Contact us)

Let's do something creative !!

[2016-11-14 20:05] #90 closed

[2016-11-16 10:07] ThangLuuQuoc opened #93 "miss permissions of roles"
Can't assign one or many permission to role

[2016-11-16 17:53] amranidev commented on #93
@ThangLuuQuoc

You could only assign permissions and roles to users in the system, but don't worry you can assign permissions to role using your approach, check [laravel-permission](https://github.com/spatie/laravel-permission).

Feel free to change anything in:

- `app/Http/Controllers/ScaffoldInterface/AppController.php` (Where Dashboard is rendered).
- `app/Http/Controllers/ScaffoldInterface/Us

[2016-11-17 04:15] ThangLuuQuoc opened #94 "[Proposal] Admin-LTE integration"
I think scaffold-interface is awesome, but it miss some important features.
I gave it a trying, and I easy to generate all file for my module with full layout and ready to use.
I use result as init front-end template in my app, and I must take more time to clone it to current AdmindLTE to manage generated module that I just created.
and finally, I hope add a option to generate admin management for

[2016-11-17 16:20] amranidev commented on #94
@ThangLuuQuoc
do you mean that (model/entity) layouts must handle AdminLTE as well as dashboard ??

[2016-11-18 00:56] #93 closed

[2016-11-18 02:35] ThangLuuQuoc commented on #94
yes

[2016-11-18 23:42] amranidev commented on #94
@ThangLuuQuoc

This feature is available now in dev-master.

[code]
Feel free to try it out and submit any issue or suggestion, before it would be released :)

[2016-11-19 02:37] #89 closed

[2016-11-23 21:14] amranidev commented on #94
@ThangLuuQuoc
scaffold-interface is released now with ([v1.6.31](https://github.com/amranidev/scaffold-interface/blob/master/CHANGELOG.md))

[2016-11-23 21:14] #94 closed

[2016-12-12 13:18] 7miguelsilva7 opened #95 "btn delete doesn't work in this version 1.6.31"
When I generate a GRUD, btn delete doesn't work more, how can I downgrade to other version? can I do it?

[2016-12-12 13:42] 7miguelsilva7 commented on #95
Hey man, I've solved it, just add lines like that follow:
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class = 'AjaxisModal'>
        </div>
    </div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script> var baseURL = "{{URL::to('/')}}"</script>
<s

[2016-12-12 13:42] #95 closed

[2016-12-12 14:31] amranidev commented on #95
Hey @7miguelsilva7
Which line ??

[2016-12-13 18:36] 7miguelsilva7 commented on #95
these lines:
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script> var baseURL = "{{URL::to('/')}}"</script>
<script src = "{{ URL::asset('js/AjaxisBootstrap.js')}}"></script>
<script src = "{{ URL::asset('js/scaffold-interface-js/customA.js')}}"></script>

for me, delete btn doesn't worked, then I added the line above and work now.

[2016-12-13 18:42] amranidev commented on #95
This bloc has been added to the layouts in v1.6.31.

[2016-12-14 17:33] 7miguelsilva7 commented on #95
I see, ok, it is that my app use layouts of laravel, and when I create other MVC this bloc doesn't added.
But it's ok now.
Thanks!

[2016-12-17 00:40] CyDoor opened #96 "[Insight] Text files should end with a newline character - in resources/…/ManyToMany/model.blade.php, line 31"
**[in resources/views/template/ManyToMany/model.blade.php, line 31](https://github.com/amranidev/scaffold-interface/blob/1be119f03d02543972611b2ab3d7c866a6954755/resources/views/template/ManyToMany/model.blade.php#L31)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/4c35ba52-551e-4d62-adb8-ff5199c54801/analyses/378)_

[2016-12-18 00:40] amranidev commented on #96
Thanks!!

[2016-12-18 01:25] #96 closed

[2016-12-19 02:06] 7miguelsilva7 opened #97 "Problem to generate table"
Hey man, how are you?

Problem to generate table with relationship, My tables don't appear in combobox, my tables are all migrated, can you help me?

Thanks!

Here are some image:

![erro scaffold](https://cloud.githubusercontent.com/assets/16270181/21299026/4650b9ae-c576-11e6-808f-673c578685a8.png)

![captura de tela de 2016-12-18 23-05-08](https://cloud.githubusercontent.com/assets/16270181/2129

[2016-12-19 11:19] 7miguelsilva7 commented on #97
That's ok now, I have changed table and doesn't update in my other PC, thanks!

[2016-12-19 11:19] #97 closed

[2016-12-22 00:20] davejal opened #98 "Create a parent child view"
Hi,

I need help to create a view like [https://support.content.office.net/en-us/media/8d712f52-0c4e-4a04-9ffa-7c04cfd75905.jpg](url)

The main form has the parent and the subform has the child records.

Where do I begin?

[2016-12-22 18:08] amranidev commented on #98
The image is not available!!
Feel free to create your own blade layouts, check laravel docs ([Blade template](https://laravel.com/docs/5.3/blade))

[2016-12-23 16:11] #98 closed

[2016-12-29 17:48] foosacek opened #99 "Routes moved"
In version 5.3.28 the routes are in a different location (i.e., routes/web.php not /Http/routes.php) and I believe this is keeping the routes file from getting updated.

[2016-12-29 17:51] amranidev commented on #99
@foosacek
It's already changed in dev-master, it will be merged soon!!
cheers

[2016-12-31 20:16] #99 closed

[2017-01-11 12:26] qcol commented on #59
wow! I was sure it doesn't work too... it should be clearly explained that you have to press the onetomany button a second time, now it works in fact :)

[2017-01-11 13:15] qcol commented on #59
would be much more intuitive button at the bottom I think
![zaznaczenie_238](https://cloud.githubusercontent.com/assets/358993/21849852/392be25e-d808-11e6-990a-f3d39f9b7cb2.png)

[2017-01-12 22:37] amranidev commented on #59
Hi @qcol

It's already mentioned in [documentation](http://amranidev.github.io/blog/site/scaffold-interface/#iii-relationships)
Perhaps this button should be in bottom of one-to-many field.
I really appreciate your request!!
cheers!!

[2017-01-18 10:18] GoodJob opened #101 "Naming Conventions"
Guys, this is product of the future! Please keep improving. I even would pay for it :)

But this time, I want to ask about tables naming convention. I have create tale `category_descriptions`, so expected controller should be CategoryDescriptionsController.php and model `CategoryDescription.php`, but I have got `Category_descriptionController.php`, so everything went not so well -routes, views and

[2017-01-18 14:53] twoheadedmona opened #102 "ManyToMany.php bug"
Hello

You have a little bug in your ManyToMany.php class. You forget to include "<?php\n\n" in your view template, and the migration file that is created does not include <?php so it can't be migrated to database unless you manually add it. I modified your ManyToMany.php :
`$migrationContent = "<?php\n\n".view('scaffold-interface::template.ManyToMany.migration', $this->tables)->render();`

Maybe

[2017-01-18 17:01] amranidev commented on #102
What version of scaffold-interface do you have??
It's already exist : [ManyToMany](https://github.com/amranidev/scaffold-interface/blob/master/src/ManyToMany/ManyToMany.php#L79)

[2017-01-18 18:37] amranidev commented on #101
@GoodJob

Thanks!!, I really appreciate your feedback!!
The **TableName** filed in the interface doesn't refer to a (**database table**), so in the next version it would be changed to **EntityName** or **ClassName**.

Let's say we want to create a new entity called **Client**

1. Generate your (`Client`) entity in the interface.
2. Before migrating (`clients`) schema, you can change table name in

[2017-01-20 17:53] #101 closed

[2017-01-20 17:53] #102 closed

[2017-01-21 11:18] GoodJob commented on #101
Thanks for your explanation! I will do some experiments on this :) Good luck

[2017-01-23 21:45] amranidev opened #105 "[New Feature] Graphical representation"
A cool new feature coming soon!!

This feature be able to deduce a graphical representation for **Models** those being generated through this package, so you could visualize your app entities and their relationships.

[2017-02-02 22:44] #105 closed

[2017-02-02 22:45] amranidev opened #109 "Scaffold Interface v1.7 is released"
Scaffold interface v1.7 is released :smile:

[2017-02-06 21:37] #109 closed

[2017-02-13 00:32] davejal opened #110 "Unable to execute migration step on new install"
Followed step 1-3 without problems

On step 4 I get the following error:

[code]

I have installed this scaffold-interface many times without problems and this time I'm installing it again, but it's given this problem so many time now.

[2017-02-13 00:55] davejal commented on #110
This is a laravel 5.4 issue according to https://github.com/laravel/framework/issues/17508

[2017-02-13 01:04] davejal commented on #110
Update your **`app\Provider\AppServiceProvider.php`** to;

`<?php

namespace App\Providers;

use Illuminate\Support\Facades\Schema;
use Illuminate\Support\ServiceProvider;

class AppServiceProvider extends ServiceProvider
{
    /**
     * Bootstrap any application services.
     *
     * @return void
     */
    public function boot()
    {
       Schema::defaultStringLength(191); //
    }

    /*

[2017-02-13 01:04] #110 closed

[2017-02-13 14:05] amranidev commented on #110
@davejal
What was the problem ??
Is this package works perfectly for you ??

[2017-02-15 12:52] covecove1 opened #111 "Installation on Cloud 9 (c9.io)"
Hi,

I'm having current errors while trying to include scaffold-interface to a laravel v5.4 c9  workspace.

Can You help me?

Thanks!

This is from site.site/scaffold:
![image](https://cloud.githubusercontent.com/assets/24655655/22976872/ce32807a-f38c-11e6-9254-3b8e9097da11.png)

This error happens when trying to register:
![image](https://cloud.githubusercontent.com/assets/24655655/22977070/8b9e1

[2017-02-15 13:50] #111 closed

[2017-02-15 13:50] covecove1 commented on #111
I missed use Spatie\Permission\Traits\HasRoles; :)

[2017-02-20 09:33] osthafen opened #112 "Little Bug - only comparing first char"
Hi Amrani,
thanks for your project - I love it!

I think I found a little bug: Because of the [0] this function compares only the first char of each string - so two table names with equal first letters would return true.

`private function check(array $request)
    {
        return $request['table1'][0] == $request['table2'][0] ? true : false;
    }`

it should be:

`private function check(array $

[2017-02-20 15:32] amranidev commented on #112
@osthafen

Fixed in [(v1.7.1)](https://github.com/amranidev/scaffold-interface/releases/tag/v1.7.1)

Thank you so much for your request, I really appreciate it.

cheers!!

[2017-02-20 15:32] #112 closed

[2017-03-20 22:31] jwjcmw opened #113 "vinkla/pusher requires php 7"
An update in the docs may be in order, as it looks like the vinkla/pusher package is not supporting 5.6.

[2017-03-21 09:23] joransrb commented on #113
i noticed this to, and i have phpv7 installed, but it still dont work.
php -v gives:
`PHP 7.0.15 (cli) (built: Jan 23 2017 15:06:38) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies`

and running the composer require amranidev/scaffold-interface command gives this:
`Using version ^1.7 for amranidev/scaffold-interface
./composer.json has be

[2017-03-21 12:59] jwjcmw commented on #113
It looks like composer is using 5.6...that also happened to me.  I'm using wtserver on windows, and the composer.bat file that it creates was hard coded to using the 5.6 version.  Probably a similar issue for you.

[2017-03-21 14:02] joransrb commented on #113
ah, thanks, did not think of that.
Fixed it now by adding correct php version in my /.bash_profile

[2017-03-21 20:40] amranidev commented on #113
Hi Guys :smile:

vinkla/pusher is not longer supporting php 5.6

@jwjcmw feel free to submit any issue or pull request at [scaffold-interface-docs](https://github.com/amranidev/scaffold-interface-docs)

Thanks for opening this issue

cheers!!

[2017-03-22 14:11] amranidev commented on #113
Updated!!
check scaffold-interface docs [#1](https://github.com/amranidev/scaffold-interface-docs/pull/1)

cheers !!

[2017-03-23 00:21] #113 closed

[2017-03-28 18:46] 7miguelsilva7 opened #114 "ErrorException in GuiController.php"
Hi man, me again!
When I'm creating a table that has relationship  I receive the error:

ErrorException in GuiController.php line 67: Trying to get property of non-object

Although tables are created normally.
scaffold-interface v1.7

[2017-03-29 12:01] amranidev commented on #114
Hi miguel

Thank you for reporting.

Apparently, seems like a bug, when you creating a table you've tried to relate it with user table which is not exist in relationship-table, so the system is worked, but the app graph diagram result doesn't show correctly.
I'll take a look to fix it soon as possible.
cheers!!

[2017-04-20 08:20] abellee opened #115 "this project is not working?"
I have installed and go into the site,
and I have created a table and some columns,
but I didn't see any changing.
so I tried to make migration, but still not change any files or database,
and I didn't see any request in network when I create table and columns,
just when I do make migration, and it just redirect to the scaffolder page,
and shows me nothing to migrate.

[2017-04-20 12:39] amranidev commented on #115
Hi @abellee
seems like you didn't create any table,
Make sure that you clicked on ready and done button

[2017-04-20 12:42] abellee commented on #115
@amranidev I have clicked the READY button, and then animated a DONE button that I haven't clicked, and it would slide out a while.
so I don't know whether did wrong?

[2017-04-20 12:54] amranidev commented on #115
you have to click on DONE button to confirm the process

[2017-04-20 14:48] amranidev commented on #115
@abellee  All good now??

[2017-04-20 19:33] abellee commented on #115
@amranidev sorry, didn't try yet, I'm trying to use the `Laravel Schema Designer`, but it really makes me crazy. I am gonna try your again right now.

[2017-04-21 15:29] #115 closed

[2017-04-27 04:58] qeifar commented on #88
you can check quickadmin for enum thing. It look kinda similar but I am not expert on how to do it.. I hope you can help us with this enum thing
Thank You

[2017-04-27 07:59] qeifar opened #116 "Question"
How to edit the GUI of the field. For example I want to change date from simple text field to be a datepicker

[2017-04-27 15:40] amranidev commented on #116
@qeifar Hi!!

you're free to change whatever you want after creating table.

go to resources/views/{your-model-name}/

and change whatever you want

cheers!!

[2017-05-03 14:30] #116 closed

[2017-05-17 01:19] qeifar commented on #116
THANKKKKKSS!! 👍

[2017-05-28 02:28] network211 opened #119 "Associate Permission with role"
Hi,

Does the scaffold interface have the ability to associate a permission with a role?

It seems that spatie/laravel-permission has this built in, e.g.

$role->givePermissionTo('edit articles');

This would make your scaffold interface more complete.

[2017-05-28 02:29] network211 commented on #119
I see you have had a previous issue with the same concept (#93).

Are you planning to implement this?

[2017-05-28 22:40] amranidev commented on #119
@network211

According to spatie/laravel-permission, you can associate a permission with a role
using `givePermissionTo()` method, for example :
`$role->givePermissionTo('edit articles');`

if you have any suggestion, feel free to submit it with a comment  below.

cheers!!

[2017-05-29 13:45] davejal opened #120 "Problem with fonts and images"
Hi,

I'm currently getting the following error.

Access to Font at 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf?v=4.5.0' from origin [my ip] has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin [my ip] is therefore not allowed access. The response had HTTP status code 522.

It worked before

[2017-05-29 14:13] davejal commented on #120
Updated to latest version 1.7 and problem is resolved!

[2017-05-29 14:13] #120 closed

[2017-06-12 16:40] #119 closed

[2017-06-15 12:08] qcol opened #124 "permissions GUI incomplete"
Hi

First of all - very good job! - the best Laravel Generator I've tested (tested all available) :)
One thing, however, wonders me. Why is GUI for permissions not completed? Creating roles and permissions without the possibility of combining them does not make sense. This module looks incomplete. Of course I know that you can do this outside the GUI but if you said A, you have to say B :)

[2017-06-15 12:15] qcol opened #125 "wrong constants names"
Default, in .env file is:
[code]
..but in application:
in app.blade.php:
[code]
in config/pusher.php
[code]

so, it doesn't work...

[2017-06-15 17:35] amranidev commented on #125
@qcol Thanks for submitting this issue, it fixed!!

[2017-06-15 17:35] #125 closed

[2017-06-15 17:59] qcol commented on #125
also in the DOC:
http://amranidev.me/scaffold-interface/docs/pusher/

[2017-06-20 00:03] fantome195 opened #126 "error in documentation"
Hi thank you for everything

i find error in step 5

http://amranidev.me/scaffold-interface/docs/getting_started/

 you typed artsain instead of artisan

[2017-06-22 18:00] amranidev commented on #126
hi @fantome195
It's Done, Thanks for submitting this issue, I really appreciate it.

[2017-06-22 18:00] #126 closed

[2017-06-24 17:20] PankajSanam opened #127 "How can I have custom Routes for User?"
I noticed that you have routes defined in your folder which is in vendor for us.

You have routes like this-

Route::get('users', '\App\Http\Controllers\ScaffoldInterface\UserController@index');

But I want to use my own routing structure.

Am I missing something here? Because I can't seem to find a way for using my own routes and disable yours. The only way I can see here is changing the file in

[2017-06-25 01:54] amranidev commented on #127
Hi @PankajSanam
Thanks for submitting this issue.
Perhaps it would be more flexible to customize these routes in the next release, so I'm gonna add the enhancement tag to this to be updated.

[2017-06-25 03:03] PankajSanam commented on #127
Ok great, thanks!

Any idea when is the next release coming?

[2017-06-25 17:59] amranidev commented on #127
The next couple of days, I'll let you know about the updates.
feel free to submit any issue or pull request.

[2017-06-30 22:47] amranidev commented on #127
@PankajSanam

v1.7.15 is released, now you could update scaffold-interface in your project and you're free to customize your routes however you like, scaffold-interface routes are served under `scaffold-` prefix.

Thanks

[2017-07-02 17:06] #127 closed

[2017-07-02 17:11] amranidev commented on #124
Hi @qcol

Thanks for submitting this issue I really appreciate it.

You can combine roles and permissions by yourself according to your app logic in RolesController and PermissionController.

Otherwise if you have a feature idea you're free to submit any issue so we could talk.

Thanks

[2017-07-04 10:34] vikasprogrammer opened #129 "Parse Error"
I am getting this error while installing via composer.

[code]

[2017-07-07 15:37] amranidev commented on #129
Hi @vikasprogrammer
Thanks for submitting this issue,
I checked and everything is working as expected.
Make sure that there is no syntax error in config/app.php
Thanks

[2017-07-09 20:28] gitxav opened #130 ""Trying to get property of non-object" exception"
Hi Amrani.

I created a blog application in Laravel 5.4 and followed all the steps in the tutorial and successfully created a Post table, but when going to http://blog/post it throws the exception error:
[code]
Thanks for your help

[2017-07-09 21:56] amranidev commented on #130
@gitxav
Thanks for submitting this issue.
You have to create a new user and login with its account.
Thanks!!

[2017-07-11 00:21] #130 closed

[2017-07-18 08:16] oasis1992 opened #131 "Relation one to many by id auto incremental?"
Not found relation one to many by id auto incremental

[2017-07-18 13:29] amranidev commented on #131
@oasis1992 Thanks for submitting this issue.
Could you please be more specific ? so I can help you.

[2017-07-18 21:58] #124 closed

[2017-08-02 08:01] jeremywhx opened #134 "ErrorException while creating a row of data"
When I submit a created data, it pops out Call to undefined method Illuminate\Database\Query\Builder::render() (View: C:\xampp\htdocs\asiana_dev\resources\views\news\index.blade.php)

[2017-08-02 13:51] amranidev commented on #134
@jeremywhx
Thanks for submitting this issue.
Which laravel version do you have ??

[2017-08-03 13:32] jorjik opened #135 "Access denied for user 'homestead'@'localhost'"
on Step "php artisan migrate" - i have
Error message:

my config:

         'pgsql' => [
            'driver' => 'pgsql',
            'host' => env('DB_HOST', '127.0.0.1'),
            'port' => env('DB_PORT', '5432'),
            'database' => env('DB_DATABASE', 'lava'),
            'username' => env('DB_USERNAME', 'postgres'),
            'password' => env('DB_PASSWORD', ''),
            'charse

[2017-08-03 13:39] jorjik commented on #135
sorry i found add. param. in
.ENV

[2017-08-03 13:39] #135 closed

[2017-08-03 13:41] #131 closed

[2017-08-03 19:39] jorjik opened #136 "fill new table errors"
(3/3) ErrorException
Trying to get property of non-object (View: D:\php\OpenServer\domains\lava\blog\resources\views\scaffold-interface\layouts\app.blade.php) (View: D:\php\OpenServer\domains\lava\blog\resources\views\scaffold-interface\layouts\app.blade.php)

(2/3) ErrorException
Trying to get property of non-object (View: D:\php\OpenServer\domains\lava\blog\resources\views\scaffold-interface\lay

[2017-08-03 23:13] amranidev commented on #136
Normally this is happened because of the user property object.
go to `localhost:9000/login` and try to login or register a user account.

[2017-08-03 23:29] jorjik commented on #136
Error 403

[2017-08-07 15:14] amranidev commented on #136
@jorjik Hi again
I checked and everything is working as expected. well, could you please tell where you got that error exactly.

Thanks

[2017-08-08 10:29] jorjik commented on #136
The decision to use port 9000 was an error!!!

[2017-08-08 13:52] amranidev commented on #136
so shall I close this issue ?

[2017-08-08 13:54] #136 closed

[2017-08-13 19:58] OrbitalStudios commented on #129
This still happens. It is related to Vinkla\Pusher. Removing it from app.php corrects the issue.

[2017-08-14 12:39] amranidev commented on #129
@OrbitalStudios Which PHP version do you have ??

[2017-08-18 10:57] jeremywhx commented on #134
5.4

On Wed, Aug 2, 2017 at 9:51 PM, Amrani Houssain <notifications@github.com>
wrote:

[2017-08-19 19:22] waltex opened #139 "erron on migrate"
i run `php artisan migrate` and return this error.
create only 2 table, migrations and users.
i use mysql with php 7.1 on xampp

 **error:**

[2017-08-19 23:59] amranidev commented on #139
@waltex Thanks for submitting this issue.

This is a laravel DB issue, Laravel 5.4 had a new default database character sets supporting emoji.

See : [Laravel 5.4 Specified key was too long error (laravel-news)](https://laravel-news.com/laravel-5-4-key-too-long-error)

[2017-08-19 23:59] #139 closed

[2017-08-26 14:20] marcelosantos89 opened #140 "[Proposal] Search like Gii"
It would be great to have a search field on top like Gii
![image](https://user-images.githubusercontent.com/5165063/29742169-0650ac4e-8a72-11e7-82be-1c1bdddf973f.png)

I'm working on it right now but still trying to understand the code

[2017-08-26 22:30] amranidev commented on #140
Thanks for submitting this issue @orien2k
this would be a cool new feature, I suggest to use (data-table)[https://datatables.net/]!
what do you think ?

[2017-08-26 23:21] orien2k commented on #140
Datatables get slow if u have more than 500 rows. It needs to be with PHP no JS

[2017-08-28 16:27] amranidev commented on #140
A'right, I'll be waiting for your pull request, let me know if you have any question!!

[2017-09-02 10:26] rahulsingh743 opened #141 "PHP Fatal error: Class 'Vinkla\Pusher\PusherServiceProvider' not found in \vendor\laravel\framework\src\Illuminate\Foundation\ProviderRepository.php on line 208"
hi
I am getting following error after Enter "php artisan vendor:publish"
laravel version -5.4 & amranidev/scaffold-interface - 1.6

PHP Fatal error:  Class 'Vinkla\Pusher\PusherServiceProvider' not found in C:\xampp\htdocs\edustar\vendor\laravel\framework\src\Illuminate\Foundation\ProviderRepository.php on line 208

[2017-09-02 18:17] amranidev commented on #141
Seems like this issue is duplicated, I'll check what's going on.
Make sure that you have scaffold-interface - 1.7.15 and php7
Thanks!!

[2017-09-06 20:37] amranidev commented on #141
Everything is working as expected.

`vinkla\pusher` requires php-7, if you don't have php-7, so you could simply remove `Vinkla\Pusher\PusherServiceProvider` in `config/app.php` and everything gonna work normally.

Thanks!!

[2017-09-10 03:05] #141 closed

[2017-10-03 09:05] imunew opened #142 "Installation failed with Laravel 5.5"
## Installation failed
[code]

## Environment
- PHP 7.0.14
- laravel/framework 5.5.13

## Cause
`vinkla/laravel-pusher ^2.4` is old. Not supported `illuminate/contracts` and `illuminate/support` 5.5.*.

https://github.com/vinkla/laravel-pusher/blob/2.5.0/composer.json
[code]

https://github.com/vinkla/laravel-pusher/blob/3.0.0/composer.json
[code]

[2017-10-03 13:24] amranidev commented on #142
@imunew Thank you for opening this issue.

[2017-10-03 13:45] amranidev commented on #142
@imunew.

Do you find Pusher/websocket is an interesting feature to be even existed in this project?
what I see is that  vinkla/laravel-pusher is such a pain.

[2017-10-04 17:08] amranidev opened #143 "Scaffold-interface v1.7.21 is released"
- Require PHP 7.

- Support Laravel v5.5.

Feel free to submit any issue or pull request.

[2017-10-04 17:09] amranidev commented on #142
@imunew

Just Released scaffold-interface v5.5, now it supports laravel 5.5 and requires php7.

Feel free to submit any issue or pull request.

[2017-10-04 17:09] #142 closed

[2017-10-06 01:44] imunew commented on #142
@amranidev
Thank you for the release v1.7.21.
I will install and use this version.

[2017-10-07 09:34] kjareena opened #144 "Issue on Scaffold Genration"
I am using laravel 5.5 and php7. I installed Scaffold Interface package.
Its working fine.  Dashboard roles and users everything is fine.

But i lick on Scaffold Interface means i am going to create a CRUD .

![e74f7e3f-57fb-4719-80c8-e6cf145313f2](https://user-images.githubusercontent.com/15811342/31306554-309f6e58-ab70-11e7-8271-b1b2920bae1a.png)

click on any button nothing happens. and only on

[2017-10-07 12:38] amranidev commented on #144
@kjareena Thanks for submitting this issue, it's graph relation table issue, but don't worry, the entity that you have been creating is completely working!!

I've already mention this issue as a bug in #114 .

[2017-10-10 19:36] #134 closed

[2017-10-10 19:37] amranidev commented on #129
@OrbitalStudios

You can check the newest version of scaffold-interface v1.7.21

cheers!!

[2017-10-10 19:37] #129 closed

[2017-10-10 19:44] oalencar opened #145 ""Prefix" on views and controllers"
Hi, Amrani.

I want to know if theres a way to generate the views with a prefix, like “admin”, for example.

The point is, I have a lot of manual work to migrate the scaffold views to my project architecture.

Can you help? Thanks #

[2017-10-10 19:46] amranidev commented on #145
Which scaffold-interface version do you have ??

[2017-10-10 19:51] oscaralencar commented on #145
v1.7.21

[2017-10-10 19:54] oscaralencar commented on #145
If don't exists a way to do it, I have an idea:

The prefix config can be saved on config.php file and the views and controllers can be generated with it.

I have made tests in my local with this approach, and worked well. A can pull request.

[2017-10-10 20:03] amranidev commented on #145
Yeah sure, let me know when you finish.
cheers!!

[2017-10-13 15:01] oscaralencar commented on #145
Hi, Amrani. I've tested your setting on config.php called: "loadViews". I realize that this generates the path of views on controllers with a pattern like this: "::" (four dots).

Why did you use :: ?

The implementation is on file /ROOT/scaffold-interface/resources/views/template/controller/controller.blade.php

[2017-10-13 15:52] amranidev commented on #145
loadViews is used as a prefix to separate between laravel's default structure and your custom package.
This will be defined in the package's ServiceProvider as well.
Typically, we use LoadView when we want to generate CRUD for our customized packages, see [Lpackager](https://github.com/amranidev/lpackager).

[2017-10-17 11:28] osthafen opened #146 "http://amranidev.me/scaffold-interface/docs is offline"
No content on http://amranidev.me/scaffold-interface/docs

[2017-10-17 13:07] amranidev commented on #146
Hi @osthafen
Thanks for reporting
Cheers!!

[2017-10-18 15:50] amranidev commented on #146
The docs are located in : [Docs](https://amranidev.github.io/scaffold-interface/docs)

[2017-10-18 15:51] amranidev commented on #146
Thanks for opening this issue!!

[2017-10-18 15:51] #146 closed

[2017-10-24 16:28] FrodeMMeling commented on #143
II get this warning: (Laravel 5.5, PHP7.1.8)
`Package vinkla/pusher is abandoned, you should avoid using it. Use pusher/pusher-http-laravel instead.`

[2017-10-24 22:01] amranidev commented on #143
@FrodeMMeling Thanks for submitting this important issue!! I really appreciate it.

[2017-10-25 17:16] amranidev commented on #143
Thank you so much for the feedback, you could check v1.7.22.

[2017-10-26 07:25] FrodeMMeling commented on #143
Thanks for quick response 👍
I never found a way to edit something, so it made usage very difficult.. You have to create in certain order, to be able to set relations..

[2017-11-05 11:11] babakbandpey opened #147 "Version conflict in resources/views/scaffold-interface/layouts/app.blade.layout"
Hi dear developers.
There is some conflict leftovers at the end of the file

https://github.com/amranidev/scaffold-interface/blob/master/src/Publishes/Views/scaffold-interface/layouts/app.blade.php

HEAD
							<a href="#">\
											<i class="fa fa-users text-aqua"></i> '+data.message+'\
							</a>\

				<a href="#">\
					<i class="fa fa-users text-aqua"></i> '+data.message+'\
				</a>\

 36e

[2017-11-05 15:15] amranidev commented on #147
@babakbandpey Thanks for submitting this issue I really appreciate it.
Thanks!!

[2017-11-05 18:07] amranidev commented on #147
The problem has been fixed, you could check the v1.7.24
Thanks again!!

[2017-11-05 18:07] #147 closed

[2017-11-06 02:18] xhijack opened #148 "scaffold exists table"
Could we can generate from existing table?

[2017-11-06 15:08] amranidev commented on #148
This feature doesn't yet existed, feel free to submit a pull request!!

[2017-11-06 15:08] #148 closed

[2017-12-04 05:03] doublehops opened #150 "How to perform model validation"
I created a new table/model/etc.. with amranidev scaffolding but I can't see how to handle any validation rules. It doesn't seem to add validation code automatically and I can't find any mention of it.

[2017-12-04 22:34] amranidev commented on #150
@doublehops that is correct!!, you can do that manually after creating a new table, so you're free to do that however you like!!

Thanks For submitting this issue, if you have any idea about how we could add this feature, feel free to submit your pull request!!

[2018-01-04 22:25] hondaman900 opened #151 "How to add multi-value field?"
I'm trying to make one of the user input form fields a drop-down options list. I can do this (add the HTML for the <select>) in the blade and have tried to have this modify the database data, to no avail.  Can you recommend how to do this. I want to use this tool to accelerate a project that has many data input forms for the user, but need to be able to have the user select from drop-down options

[2018-01-05 14:12] amranidev commented on #151
@hondaman900, thanks for submitting this issue.
If I understand your issue, you can create a new entity using scaffold-interface and link it to the user entity via One-To-Many relationship, all you have to do is:
- Go to the interface.
- While creating the new entity, make sure to link it with user's entity selecting the username through the interface.

This will generate (CRUD) for your new entit

[2018-01-05 23:21] hondaman900 commented on #151
Thanks for the quick response. That's not exactly what I was trying to achieve. I was hoping that the generated data entry form could provide my user with a drop-down list of options for some fields, rather than having them type in entries that need to be one from a pre-determined set of values.

For instance, for a user entering their address they should be able to select a drop-down list of stat

[2018-01-06 00:57] hondaman900 commented on #151
Update:  I did get mostly success implementing a populated drop-down for a form field by replacing the blade <input> form element with a <select>, retaining the existing parameters and populating the options. There are some weird behaviors but I think I can sort them out.

I did try to create an entity with a user drop-down as you suggested above and following your documentation, but the "Associat

[2018-01-06 01:06] amranidev commented on #151
1. before migrating user table to the database make sure to add ORM migration adding ` $table->string('state');`

2. Pass an array of data to **create.blade.php** through the controller.

[code]

3. Add the necessary html that we desperately need to your **create** blade.

[code]

4. Store the piece of the data into the database through controller's store method

[code]

[2018-01-06 17:28] amranidev commented on #151
@hondaman900 Hi again!!

scaffold-interface uses the great [laravel/spatie-permession](https://github.com/spatie/laravel-permission) package that makes you eligible to give permissions to your users to display some contents to them etc...

[2018-02-04 17:04] yevhenkoriakin opened #152 "AjaxisMaterialize.js 404 (Not Found)"
resources/views/scaffold-interface/layouts/defaultMaterialize.blade.php
<script src = "{{URL::asset('js/AjaxisMaterialize.js')}}"></script>

What i did
composer require amranidev/scaffold-interface

add to config/app
Amranidev\ScaffoldInterface\ScaffoldInterfaceServiceProvider::class,
Amranidev\Ajaxis\AjaxisServiceProvider::class,
Spatie\Permission\PermissionServiceProvider::class,
Pusher\Laravel\

[2018-02-04 17:06] #152 closed

[2018-03-04 18:54] savolai opened #154 "Is it possible to edit tables after creating them?"
Hi! Thanks for your work. So glad someone is working on something like this.
I am trying to figure out the basic logic of the CRUD Generator.

I have managed to create a bunch of tables. After creating them I migrated and they were created successfully. Creating an one-to-many relationship succeeded after I tried several times and I think after reading the docs I even understand what I may have do

[2018-03-05 17:57] amranidev commented on #154
Hi @savolai thanks for submitting this issue, it's still a planned feature at the moment you can not alter the table after migrating the schema with the CRUD generator, you could solve this issue by using creating a new alter migration file.
cheers!!

[2018-04-13 11:03] oalencar commented on #145
How promised, the PR #155 =D

[2018-04-14 16:08] amranidev commented on #145
Merged! Thanks!

[2018-04-14 16:08] #145 closed

[2018-06-28 18:50] Hell4Ge opened #161 "Table name is not following eloquent naming conventions"
On example when I want to create a table named "bank_accounts" the Laravel model is expected to be named "_BankAccount.php_"

Declaration of $table field would not be required

[2018-07-07 06:22] bhargav960143 opened #165 "Assign Permission"
Auto Assign permission based on the role to the new user while adding the new user.

Can you please guide me how to do that.

[2018-08-06 20:14] tim-hub opened #166 "[Feature] migrate to bootstrap 4"
The stable version 4 is released, I think it is a good time to migrate to bootstarp 4.

[2018-08-16 10:16] amranidev commented on #166
Yes I'm planning for that

[2018-08-16 13:09] #165 closed

[2019-01-02 11:32] InfoSecRavindra opened #171 "Publish Command List Confustion"
I know this is kind of beginner question but which option should I select on this screen? I have read documentation but I am still not sure..

![publish_dialog](https://user-images.githubusercontent.com/22148496/50590169-cb09e600-0eaf-11e9-9074-81612c9fc508.jpeg)

[2019-01-02 11:44] InfoSecRavindra commented on #171
I went with option 2.

Thanks for such a great project.

[2019-01-02 11:44] #171 closed

[2019-01-15 23:24] paco-portada opened #172 "Issue on Scaffold Generation"
I use Ubuntu 16.04 and PHP 7.2.
I have installed the scaffold with Laravel 5.7.19
I'm trying to generate a new table, but it doesn't work. The table is not created and I can not migrate it.
Can you help me?
Thanks
![scaffold_crud_error](https://user-images.githubusercontent.com/14198211/51216507-f4e9f080-1924-11e9-9b5c-a7120f5d05d4.png)

[2019-03-07 14:38] lsfiege opened #173 "Add support for Laravel 5.8"
:smile:

[2019-03-09 18:18] amranidev commented on #173
Hi @lsfiege
Modernizing this tool, in general, is on the list, I'll be working on this shortly

Thanks

[2019-10-24 20:34] samuk190 opened #175 "add support for ajax method so I can use that crud inside a form!"
I need put a crud inside a form so I need ajax (can't reload page)

[2019-11-14 14:23] josetiagobispo opened #176 "error"
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: don't install amranidev/scaffold-interface v1.7.24
    - Conclusion: don't install amranidev/scaffold-interface v1.7.22
    - amranidev/scaffold-interface v1.7.21 requires vinkla/pusher ^3.1.0

[2019-11-25 09:13] KoTRpa commented on #176
Same issue.

Incompatible with new 6.5 version of laravel framework

[2020-06-15 14:51] #175 closed

[2020-11-11 17:38] REPTILEHAUS opened #177 "Library unmaintained - any alternatives ?"
seems like there is not much happening here anymore, is there a later version for use in Laravel LTS version's ?

[2021-07-09 01:18] Muhammadinaam commented on #143
Hi, this is a nice package but I think that the developers have stopped working on it. Maybe you can try this package: https://github.com/Muhammadinaam/speed-admin. It supports Laravel 8+.

[2021-07-09 01:18] Muhammadinaam commented on #88
Hi, this is a nice package but I think that the developers have stopped working on it. Maybe you can try this package: https://github.com/Muhammadinaam/speed-admin. It supports Laravel 8+.

[2021-07-09 01:18] Muhammadinaam commented on #151
Hi, this is a nice package but I think that the developers have stopped working on it. Maybe you can try this package: https://github.com/Muhammadinaam/speed-admin. It supports Laravel 8+.

[2021-07-09 01:19] Muhammadinaam commented on #140
Hi, this is a nice package but I think that the developers have stopped working on it. Maybe you can try this package: https://github.com/Muhammadinaam/speed-admin. It supports Laravel 8+.

[2021-07-09 01:19] Muhammadinaam commented on #161
Hi, this is a nice package but I think that the developers have stopped working on it. Maybe you can try this package: https://github.com/Muhammadinaam/speed-admin. It supports Laravel 8+.

[2021-07-09 01:19] Muhammadinaam commented on #166
Hi, this is a nice package but I think that the developers have stopped working on it. Maybe you can try this package: https://github.com/Muhammadinaam/speed-admin. It supports Laravel 8+.

[2021-07-09 01:19] Muhammadinaam commented on #172
Hi, this is a nice package but I think that the developers have stopped working on it. Maybe you can try this package: https://github.com/Muhammadinaam/speed-admin. It supports Laravel 8+.

[2021-07-09 01:20] Muhammadinaam commented on #173
Hi, this is a nice package but I think that the developers have stopped working on it. Maybe you can try this package: https://github.com/Muhammadinaam/speed-admin. It supports Laravel 8+.

[2021-07-09 01:20] Muhammadinaam commented on #176
Hi, this is a nice package but I think that the developers have stopped working on it. Maybe you can try this package: https://github.com/Muhammadinaam/speed-admin. It supports Laravel 8+.

[2021-07-09 01:20] Muhammadinaam commented on #177
Hi, this is a nice package but I think that the developers have stopped working on it. Maybe you can try this package: https://github.com/Muhammadinaam/speed-admin. It supports Laravel 8+.

[2021-07-12 14:11] #140 closed

[2021-08-12 23:22] WalysonGO opened #178 "Erro ao instalar esse pacote"
**composer require amranidev/scaffold-interface**

Using version ^1.7 for amranidev/scaffold-interface
./composer.json has been updated
Running composer update amranidev/scaffold-interface --with-all-dependencies
Loading composer repositories with package information
Updating dependencies
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: don'

[2021-10-02 10:39] davidrzs commented on #177
This project might also be an alternative https://github.com/larawiz/larawiz

[2022-07-12 18:12] #178 closed